body {
	background: black;
	margin: 0 auto;
	width: 393px;
	height: 852px;
	border: white solid;
}

#container {
	display: grid;
	grid-template-columns: repeat(4, 92px);
	grid-template-rows: repeat(5, 92px);
	grid-gap: 5px;
	margin: 5px;
}

.menu, .num, .calc {
	border-radius: 50%;
	text-align: center;
	font-size: 40px;
	padding: 15px 0px;
}

div [class="screen"] {
	grid-column: 1/5;
	grid-row: 1/4;
	color: white;
	text-align: right;
	vertical-align: bottom;
	font-size: 90px;
}

.zero {
	border-radius: 25%/50%;
	grid-column: 1/3;
}

.menu {
	background-color: #CCC;
	color: black;
}

.num {
	background-color: #444;
	color: white;
}

.calc {
	background-color: orange;
	color: white;
}